@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.swiper-cube-shadow::before{
  border-radius: 100% !important;
  background: rgb(0, 0, 0) !important;
  display: none !important;
}
.swiper-slide{
  display: flex !important;
  justify-content: center !important;
  align-items: center;
  flex-direction: column;
}
.swiper-slide-shadow-cube, .swiper-slide-shadow-left{
  background: none !important;
}
.swiper{
  display: flex;
  align-items: end !important;
  justify-content: center !important;
  height: auto !important;
  position:  relative !important;
}
@media screen and (max-width:560px){
  .swiper{
    height: 300px !important;
  }
}
.noscroll::-webkit-scrollbar{
  display: none;
}
.swiper-pagination-bullet{
  background: rgb(255, 255, 255) !important;
 margin-top: 170px !important;
 border-radius: 0% !important;
 width: 30px !important;
}
.dropdown{
  background: rgb(255, 255, 255) !important;
  height: 30px !important;
  color: rgb(0, 0, 0);
  font-weight: bold;
  border: 1px solid #115eec;
}
.car-box{
  position: relative !important;
}
